body{
    background-image:url('../img/bg.jpg');
}
input{
    width:60%;
    height:33px;
    border-radius:10px;
    border:none;
    background-color: rgb(241, 190, 127);
    text-align:center;
}
#login{
    width:30%;
    height:33px;
    border-radius:10px;
    border:none;
    background-color: rgb(241, 190, 127);
}
.box{
    transition: .7s ease;
    width:35%;
    height:400px;
    margin-top:9%;
    /* background-image:url('../img/Capture.PNG'); */
    background-color:white;
    border-radius:20px;
}
.box:hover{
    transition: .7s ease;
    width:40%;
    height:410px;
    margin-top:8%;
    /* background-image:url('../img/Capture.PNG'); */
    background-color:white;
    border-radius:20px;
}
.foto{
    width:100%;
    height:230px;
    border-radius:20px;
    background-image:url('../img/bg.jpg');
    background-size:cover;

}

